_site/
.sass-cache/
.idea/
*.sublime-*
css/site.css
.jekyll-metadata
*.avi
*.m4v
*.mov
*.mp4
*.wmv
*.pptx
*.zip
*.pdf
.DS_Store
papers.csv
/parsing_papers/papers
/parsing_papers/parsed_papers
/parsing_papers/*.csv
