---
layout: default

categories:
  Size: 
    <!-- order: 1 -->
    keys:
      - size
  Type: 
    <!-- order: 2 -->
    keys:
      - type
  Node Attributes:
    <!-- order: 3 -->
    keys: 
      - node_attr_size 
      - node_attr_type
  Edge Attributes: 
    <!-- order: 4 -->
    keys:
      - edge_attr_size 
      - edge_attr_type
  Structures : 
    <!-- order: 5 -->
    keys:
      - structure
---
<section class="section">
  <!-- <div class="publications-content"> -->

  <div class="columns">

    <div class="column is-three-quarters">

      <header id="title" class="publication-title">
        <h1>{{ page.title | remove: "| Vis Design Lab" }}</h1>
      </header>

      <div class="column is-full">
        <div>
          <p><b>Authors: </b>{{ page.author }}</p>
        </div>
      </div>

      <div class="column is-full">
        <h1>Abstract</h1>
        <div>
          {{ page.abstract }}
        </div>
      </div>

      <div class="column is-full">
        <div>
          <p><b>Venue: </b>{{ page.publication_title }}</p>
        </div>
      </div>

      {% if page.doi != "nan" %}
      <div class="column is-full">
        <div>
          <p><b>DOI: </b><a href='http://doi.org/{{ page.doi }}'>{{ page.doi }}</a></p>
        </div>
      </div>
      {% endif %}

      {% if page.isbn != "nan" %}
      <div class="column is-full">
        <div>
          <p><b>ISBN: </b>{{ page.isbn }}</p>
        </div>
      </div>
      {% endif %}

      {% if page.issn != "nan" %}
      <div class="column is-full">
        <div>
          <p><b>ISSN: </b>{{ page.issn }}</p>
        </div>
      </div>
      {% endif %}

      {% if page.publication_year != "nan" %}
      <div class="column is-full">
        <div>
          <p><b>Year: </b>{{ page.publication_year }}</p>
        </div>
      </div>
      {% endif %}

    </div>

    <div class="column is-one-fifth ">

    </div>

  </div>

  <div class="column is-full">
  </div>

</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
