---
layout: default

categories:
  Size: 
    <!-- order: 1 -->
    keys:
      - size
  Type: 
    <!-- order: 2 -->
    keys:
      - type
  Node Attributes:
    <!-- order: 3 -->
    keys: 
      - node_attr_size 
      - node_attr_type
  Edge Attributes: 
    <!-- order: 4 -->
    keys:
      - edge_attr_size 
      - edge_attr_type
  Structures : 
    <!-- order: 5 -->
    keys:
      - structure
---
<section class="section">
  <!-- <div class="publications-content"> -->

  <div class="columns">

    <div class="column is-three-quarters">

      <header id="title" class="publication-title">
        <h1><a href='http://doi.org/{{ page.doi }}'>{{ page.title | remove: "| Vis Design Lab" }}</a></h1>
      </header>

      <div class="column is-full">
        <div>
          <p><b>Authors: </b>{{ page.author }}</p>
        </div>
      </div>

      <div class="column is-full">
        <h1>Abstract</h1>
        <div>
          {{ page.abstract }}
        </div>
      </div>

      <div class="column is-full">
        <div>
          <p><b>Venue: </b>{{ page.publication_title }}</p>
        </div>
      </div>

      {% if page.doi != "nan" %}
      <div class="column is-full">
        <div>
          <p><b>DOI: </b><a href='http://doi.org/{{ page.doi }}'>{{ page.doi }}</a></p>
        </div>
      </div>
      {% endif %}

      {% if page.isbn != "nan" %}
      <div class="column is-full">
        <div>
          <p><b>ISBN: </b>{{ page.isbn }}</p>
        </div>
      </div>
      {% endif %}

      {% if page.issn != "nan" %}
      <div class="column is-full">
        <div>
          <p><b>ISSN: </b>{{ page.issn }}</p>
        </div>
      </div>
      {% endif %}

      {% if page.publication_year != "nan" %}
      <div class="column is-full">
        <div>
          <p><b>Year: </b>{{ page.publication_year }}</p>
        </div>
      </div>
      {% endif %}

      <div class="column is-full">
        <h2>Tags</h2>

        <br>

        <div>
          {% for post in page.classifications %}
            <p>
                
                {% if post[0] == "system_type" %}
                  <h3>Paper Type</h3>
                  System
                {% elsif post[0] == "technique" %}
                  Technique
                {% elsif post[0] == "design_study" %}
                  Design study
                {% elsif post[0] == "evaluation" %}
                  Evaluation
                {% elsif post[0] == "data" %}
                  Data
                {% elsif post[0] == "analysis" %}
                  Analysis
                {% elsif post[0] == "generation" %}
                  <h3>Urban Life Cycle (WHY)</h3>
                  Generation
                {% elsif post[0] == "curation_and_transformation" %}
                  Curation & transformation
                {% elsif post[0] == "management" %}
                  Management
                {% elsif post[0] == "modeling" %}
                  Modeling
                {% elsif post[0] == "urban_analysis" %}
                  Urban Analysis
                {% elsif post[0] == "visualization" %}
                  Visualization
                {% elsif post[0] == "sunlight_access" %}
                  <h3>Use Case (WHY)</h3>
                  Sunlight access
                {% elsif post[0] == "wind_ventilation" %}
                  Wind
                {% elsif post[0] == "view_impact" %}
                  View impact
                {% elsif post[0] == "energy" %}
                  Energy
                {% elsif post[0] == "damage_and_disaster_management" %}
                  Disaster mgmt
                {% elsif post[0] == "climate" %}
                  Climate
                {% elsif post[0] == "sound" %}
                  Noise
                {% elsif post[0] == "property_cadastre" %}
                  Property Cadastre
                {% elsif post[0] == "other_use" %}
                  Other use
                {% elsif post[0] == "lookup" %}
                  <h3>Analysis Action (WHY)</h3>
                  Lookup
                {% elsif post[0] == "browse" %}
                  Browse
                {% elsif post[0] == "locate" %}
                  Locate
                {% elsif post[0] == "explore" %}
                  Explore
                {% elsif post[0] == "identify" %}
                  Identify
                {% elsif post[0] == "compare" %}
                  Compare
                {% elsif post[0] == "summarize" %}
                  Summarize
                {% elsif post[0] == "spatial_relation" %}
                  Spatial relationship
                {% elsif post[0] == "distribution" %}
                  <h3>Analysis Target (WHY)</h3>
                  Distribution
                {% elsif post[0] == "trends" %}
                  Trends
                {% elsif post[0] == "outliers" %}
                  Outliers
                {% elsif post[0] == "extremes" %}
                  Extremes
                {% elsif post[0] == "features" %}
                  Features
                {% elsif post[0] == "target_discovery" %}
                  <h3>Visual Tasks (WHY)</h3>
                  Target Discovery
                {% elsif post[0] == "target_access" %}
                  Target Access
                {% elsif post[0] == "buildings" %}
                  <h3>Physical Data Entities (WHAT)</h3>
                  Buildings
                {% elsif post[0] == "streets" %}
                  Streets
                {% elsif post[0] == "nature" %}
                  Nature
                {% elsif post[0] == "uniform_discretization" %}
                  <h3>Thematic Data Properties (WHAT)</h3>
                  Uniform
                {% elsif post[0] == "structural_subdivision" %}
                  Semantic
                {% elsif post[0] == "univariate" %}
                  Univariate
                {% elsif post[0] == "multivariate" %}
                  Multivariate
                {% elsif post[0] == "volumetric" %}
                  Volumetric
                {% elsif post[0] == "temporal" %}
                  Temporal
                {% elsif post[0] == "sensing" %}
                  <h3>Thematic Data Origin (WHAT)</h3>
                  Sensing
                {% elsif post[0] == "statistical" %}
                  Statistical
                {% elsif post[0] == "simulation_based" %}
                  Simulation
                {% elsif post[0] == "learning_based" %}
                  Learning
                {% elsif post[0] == "surveyed" %}
                  Surveyed
                {% elsif post[0] == "micro" %}
                  <h3>Scope (WHAT)</h3>
                  Micro
                {% elsif post[0] == "multi_block" %}
                  Meso
                {% elsif post[0] == "city" %}
                  Macro
                {% elsif post[0] == "va_wo_model" %}
                  <h3>VA + Model (HOW)</h3>
                  VA w/o models
                {% elsif post[0] == "post_model" %}
                  Post-model VA
                {% elsif post[0] == "model_integrated" %}
                  Model integrated VA
                {% elsif post[0] == "assisted_models" %}
                  VA-assisted model
                {% elsif post[0] == "overlay" %}
                  <h3>Layers (HOW)</h3>
                  Overlay
                {% elsif post[0] == "embedded" %}
                  Embedded view
                {% elsif post[0] == "linked" %}
                  Linked view
                {% elsif post[0] == "temporal_jx" %}
                  Animation
                {% elsif post[0] == "spatial_jx" %}
                  Spatial jx
                {% elsif post[0] == "filter" %}
                  <h3>Visualization Reducation (HOW)</h3>
                  Filter
                {% elsif post[0] == "aggregate" %}
                  Aggregate 
                {% elsif post[0] == "embed" %}
                  Embed 
                {% elsif post[0] == "glyphs" %}
                  <h3>Encoding (HOW)</h3>
                  Glyphs / streamlines
                {% elsif post[0] == "bar_charts" %}
                  Bar charts
                {% elsif post[0] == "scatterplots" %}
                  Scatterplots
                {% elsif post[0] == "linegraphs" %}
                  Linegraphs
                {% elsif post[0] == "matrix" %}
                  Matrix
                {% elsif post[0] == "grid" %}
                  Grid
                {% elsif post[0] == "boxplot" %}
                  BoxPlot
                {% elsif post[0] == "parallel_coordinates" %}
                  Parallel coord.
                {% elsif post[0] == "map_2d" %}
                  2D map
                {% elsif post[0] == "map_3d" %}
                  3D map
                {% elsif post[0] == "distortion" %}
                  <h3>Occlusion Handling (HOW)</h3>
                  Distortion
                {% elsif post[0] == "ghosting" %}
                  Ghosting
                {% elsif post[0] == "culling" %}
                  Culling
                {% elsif post[0] == "birds_view" %}
                  Birds view
                {% elsif post[0] == "multi_view" %}
                  Multi-view
                {% elsif post[0] == "assisted_steering" %}
                  Assisted Steering
                {% elsif post[0] == "other" %}
                  Other
                {% elsif post[0] == "vr_cave" %}
                  <h3>Technology (HOW)</h3>
                  VR/Cave
                {% elsif post[0] == "ar" %}
                  AR
                {% elsif post[0] == "desktop" %}
                  Desktop
                {% elsif post[0] == "mobile" %}
                  Mobile
                {% elsif post[0] == "case_study" %}
                  <h3>Evaluation (HOW)</h3>
                  Case Study
                {% elsif post[0] == "user_study" %}
                  User Study
                {% elsif post[0] == "statistical_evaluation" %}
                  Statistical Evaluation
                {% elsif post[0] == "expert_interviews" %}
                  Expert Interviews
                {% elsif post[0] == "walking" %}
                  <h3>Navigation (HOW)</h3>
                  Walking
                {% elsif post[0] == "steering" %}
                  Steering
                {% elsif post[0] == "selection_based" %}
                  Selection
                {% elsif post[0] == "manipulation_based" %}
                  Manipulation
                {% else %}
                {% endif %}

              {% if post[1] == "True" and post[0] != "site" and post[0] != "block" %}
                <i class="fas fa-check-circle" style="color: #146EBE"></i>
              {% endif %}
              {% if post[1] == "False" and post[0] != "site" and post[0] != "block" %}
                <i class="far fa-check-circle" style="color: rgb(189, 189, 189)"></i>
              {% endif %}
            </p>
            
          {% endfor %}
        </div>
      </div>


    </div>

    <div class="column is-one-fifth ">

    </div>

  </div>

  <div class="column is-full">
  </div>

</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
