---
layout: default
---

<section class="section">
  <!-- <article class="publications-content"> -->

  <!-- <div class="column is-full">

    <header class="card-header">
      <h1 class="card-header-title">
        Node Link Layouts
      </h1>

    </header>

    <div class="card-content">
      <div class="content">

        <p> Node-link diagrams are the most common graphical representation
          of networks. In a node-link diagram, the nodes are drawn as
          point marks and the links as line/curve marks connecting the nodes.
          Node link layouts are the subject of their own field of study—graph
          drawing—and countless algorithms for node-link layouts have been
          developed [BETT98]. Schulz and Schumann [SS06] distinguish between
          free layouts, where the node layout is not restricted, an example
          of which is the force-directed placement; styled layouts, where
          the node positions are determined by a predefined scheme, such as
          a grid, or a radial layout; and fixed layouts where the position of the
          node is determined by an attribute, such as latitude and longitude
          on a map. In fixed layouts, the only degree of freedom is conferred
          to the drawing of the edges connecting the fixed nodes.
        </p>

      </div>

      <div class="columns">
        {% for technique in site.techniques reversed  %}
        {% if technique.type == "node-link" %}
        {% include technique_list_entry.html %}
        {% endif %}
        {% endfor %}
      </div>

    </div>

  </div> -->

  <!-- </article> -->


</section>
